<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"[
  <!ENTITY log.dir "/data/logs/">
]>

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- Console Output -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<!-- <param name="Threshold" value="INFO" /> -->
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %c{1}.%M %m%n"/>
		</layout>
	</appender>

	<!-- File Output -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="&log.dir;/log4j.log" />
		<!-- <param name="Threshold" value="DEBUG" /> -->
		<param name="Encoding" value="UTF-8" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="5000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M - %m%n"/>
		</layout>
	</appender>

	<logger name="org.peter">
		<level value="DEBUG" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework">
		<level value="trace" />
	</logger>

	<logger name="org.mybatis">
		<level value="INFO" />
	</logger>

	<logger name="org.apache">
		<level value="INFO" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
